html, body {
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    flex: 1 0 12.5%;
    text-align: center;
    background-image: linear-gradient(to left,grey, orange, red, grey);
    opacity: .65;
}

#body {
    flex: 1 0 75%;
    display: flex;
    flex-direction: column;
}

#r1 {
    display: flex;
    flex-direction: row;
}

#rl-left {
    flex: 1 0 75%;
}

#r1-right {
    flex: 1 0 25%;
}

#r2 {
    display: flex;
    flex-direction: row;
}

#r2-left {
    flex: 1 0 50%;
}

#r2-right {
    flex: 1 0 50%;
}

#r3 {
    display: flex;
    flex-direction: row;
}

#r3-left {
    flex: 1 0 40%;
}

#r3-right {
    flex: 1 0 60%;
}

img {
    width: 100%;
}

svg, img, .source,
table {
    margin: 5px;
}

h2 {
    margin: 10px;
    
}

h2 > span {
    border-bottom:orange dashed 2px;
    color: rgb(133, 121, 133);
}

p {
    margin: 8px;
    box-shadow: 2px;
}

li:hover {
    background-color: purple;
    color: white;
}

table {
    border: 2px solid;
    border-image: linear-gradient(180deg, rgb(0,143,104), rgb(250,224,66), orange, red) 1;
    padding: 5px;
}

.source {
    font-size: 10pt;
}
.row {
    margin: 10px;
}